.reading-challenge {
  padding: 30px;
  width: 314px;
  height: 313.16px;
  margin: 0 auto;
  border-top: 1px solid #80808030;
  border-bottom: 1px solid #80808030;

  h1 {
    font-size: 1.3rem;
    text-align: center;
    margin: 0 0 21px 0;
    font-weight: 600;
    line-height: 1.25;
    color: #042330;
  }

  img {
    width: 100px;
  }

  input {
    width: 60px;
    text-align: center;
  }

  button {
    width: 120px;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .row {
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    place-items: center;
  }
}