.button {
  padding: 7px 5px;
  margin-top: 10px;
  background: white;
  color: black;
  border: 1px solid black;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  outline: none;

  &:hover {
    background: black;
    color: white;
  }
}
