.dashboard {
  padding: 42px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-content: center;
    place-items: center;
  }

  .actions-container {
    border-top: 1px solid #80808030;
    border-bottom: 1px solid #80808030;
    max-width: 400px;
    padding: 30px;
    height: 313.16px;
    width: 314px;
  }

  .welcome-title {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  .log-button {
    width: 235px;
  }

  .actions {
    text-align: center;
    font-size: 1.3rem;
    margin: 0 0 21px 0;
    font-weight: 600;
    line-height: 1.25;
    color: #042330;
  }

  .buttons-container {
    margin: 0 auto;
  }
}
