.book-details {
  padding: 20px;
  margin: 100px auto;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 0px 9px #03314b;

  .close-window {
    i {
      padding: 4px 6px;
      border-radius: 50%;
      background: #03314b;
      color: white;
    }
  }

  h1 {
    padding: 10px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    color: #042330;
    position: relative;
    text-align: start;
    margin-bottom: 80px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      width: 200px;
      height: 5px;
      background: #2ce080;
    }
  }

  .amazon-btn {
    max-width: 120px;
    margin: 40px auto;

    button {
      background: #ffd05a;
      border-radius: 4px;
      border: none;

      &:hover {
        background: #f0c14b;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    max-width: 600px;
    margin: 0 auto;

    i {
      padding: 5px;
      background: #2ce080;
      color: white;
      border-radius: 5px;
    }

    img {
      width: 150px;
      border: 1px solid black;
    }

    .details {
      display: grid;
      place-items: start;

      h2 {
        font-weight: 400;
      }
    }
  }
}
