.welcome-container {
  padding: 5rem 0 10rem 3rem;
  width: 100%;
  max-width: 1500px;
  text-align: start;
  margin: 0 auto;

  .welcome-title {
    text-align: start;
    padding: 1rem 3rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #042330;
    position: relative;
  }

  p {
    text-align: start;
    padding: 2rem 0 0 3rem;
    max-width: 700px;
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin: 0;
  }
}
