.welcome-container {
  padding: 5rem 0 10rem 3rem;
  width: 100%;
  max-width: 1500px;
  text-align: start;
  margin: 0 auto;

  .welcome-title {
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #042330;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 40px;
      width: 30px;
      height: 5px;
      background: #2ce080;
    }

    &:before {
      content: "";
      position: absolute;
      background: #2ce080;
      top: 33px;
      right: 40px;
      width: 5px;
      height: 25px;
    }
  }

  p {
    text-align: start;
    padding: 2rem 0 0 3rem;
    max-width: 700px;
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin: 0;
  }
}
