.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background: black;
  color: white;

  .logo {
    cursor: pointer;
    align-self: start;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 10px 15px;
  }

  .navbar {
    margin: 0;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;

    li {
      list-style: none;
      padding: 10px 15px;
      cursor: pointer;
      transition: background 200ms ease-in;

      &:hover {
        background: white;
        color: black;

        a {
          color: black;
        }
      }

      a {
        text-decoration: none;
        color: white;
      }
    }

    .logout {
      display: none;
    }
  }
}
