@import url("https://fonts.googleapis.com/css?family=Signika:300,400,600,700&display=swap");

footer {
  background: #00a3ff1c;
  padding: 20px 40px 20px 120px;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    color: #00000078;
  }

  .logo {
    cursor: pointer;
    align-self: start;
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
    color: #03314b;
    font-family: "Mansalva", cursive;
  }

  h5 {
    color: #1775fc;
    font-size: 1.2rem;
    font-family: "Signika", sans-serif;
    margin: 0;
    font-weight: 400;
    padding-top: 15px;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .copyright {
    display: flex;
    width: 100%;

    p {
      padding: 5px 30px;
    }
  }
}
