.form-container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  h2 {
    font-weight: 400;
    text-align: start;
    padding-left: 10px;
    text-align: start;
  }

  .row {
    padding: 10px;
    display: grid;

    label {
      font-size: 1.2rem;
      padding-bottom: 10px;
    }

    input {
      padding: 2px;
      outline: none;
      font-size: 1rem;
    }

    textarea {
      outline: none;
      padding: 3px;
      border: 1px solid #48484838;
      font-size: 1rem;
    }
  }

  .success-message {
    padding: 7px 5px;
    margin-top: 10px;
    text-align: center;
    background: #3ba73b;
    width: 96%;
    margin: 15px auto;

    p {
      margin: 0;
      padding: 0;
      color: white;
    }
  }
}
