.homepage {
  padding: 20px;
  width: 100%;

  .welcome-title {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  .actions {
    text-align: center;
  }

  .buttons-container {
    width: 20%;
    margin: 0 auto;
  }
}
