.homepage {
  padding: 42px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;

  .welcome-title {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  .log-button {
    width: 235px;
  }

  .actions {
    text-align: center;
  }

  .buttons-container {
    width: 20%;
    margin: 0 auto;
  }
}
