.actions-container {
  border-top: 1px solid #80808030;
  border-bottom: 1px solid #80808030;
  max-width: 400px;
  padding: 30px;
  height: 313.16px;
  width: 314px;

  .actions {
    text-align: center;
    font-size: 1.3rem;
    margin: 0 0 21px 0;
    font-weight: 600;
    line-height: 1.25;
    color: #042330;
  }

  .buttons-container {
    margin: 0 auto;
  }
}
